
<ng-container *ngIf="(this.data.rootmenuDefined)">
<ng-container *ngFor="let level0 of  this.data.rootmenu">
    <ng-container *ngIf="(level0.label==this.data.currentDevcat)"> 
            <button mat-mini-fab color="warn" *ngIf="(level0.label!='Module'&&level0.label!='messages')"
            (click)="(this.data.currentDevcat=level0.label)">
                {{level0.label}}
            </button>            
    </ng-container>
    <ng-container *ngIf="(level0.label!=this.data.currentDevcat)"> 
            <button mat-mini-fab *ngIf="(level0.label!='Module'&&level0.label!='messages')"
            (click)="(this.data.currentDevcat=level0.label)">
                {{level0.label}}
            </button>            
    </ng-container>
</ng-container>
<ng-container  
    *ngFor="let level0 of  this.data.rootmenu">
        <ng-container  [ngSwitch]="level0.label" *ngIf="(level0.label!=this.data.currentDevcat)">
            <button mat-mini-fab color="accent" *ngSwitchCase="'Module'" (click)="(this.data.currentDevcat=level0.label)"><mat-icon>build</mat-icon></button> 
            <button mat-mini-fab color="accent" *ngSwitchCase="'messages'" (click)="(this.data.currentDevcat=level0.label)">
                        <mat-icon matBadge="{{this.data.arr_errors_content.length}}" [matBadgeHidden]="this.data.arr_errors_content.length===0" matBadgePosition="after" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false">
                            message
                        </mat-icon>
            </button> 
        </ng-container>
        <ng-container  [ngSwitch]="level0.label" *ngIf="(level0.label==this.data.currentDevcat)">
            <button mat-mini-fab color="warn" *ngSwitchCase="'Module'" (click)="(this.data.currentDevcat=level0.label)"><mat-icon>build</mat-icon></button> 
            <button mat-mini-fab color="warn" *ngSwitchCase="'messages'" (click)="(this.data.currentDevcat=level0.label)">
                        <mat-icon matBadge="{{this.data.arr_errors_content.length}}" [matBadgeHidden]="this.data.arr_errors_content.length===0" matBadgePosition="after" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false">
                            message
                        </mat-icon>
            </button> 
        </ng-container>
</ng-container>
   
  


    <ng-container  *ngFor="let level0 of  this.data.rootmenu">
        <ng-container  *ngIf="(level0.label==this.data.currentDevcat)&&level0.label!='messages'">


            <ng-container *ngIf="(level0.children.length==0)">
                <app-prop [mod]="this.mod" [prop]="level0.label" ></app-prop>
            </ng-container> 
            
            <div *ngFor="let level1 of level0.children">
    
                <ng-container *ngIf="(level1.children.length==0)">
                    <app-prop [mod]="this.mod" [prop]="level1.label"></app-prop>
                </ng-container> 
    
                <ng-container *ngIf="(level1.children.length>0&&level1.label=='')">
                    <div *ngFor="let level2 of level1.children">
                        <ng-container *ngIf="(level2.children.length==0)">
                            <app-prop [mod]="this.mod" [prop]="level2.label"></app-prop>
                        </ng-container> 
                        <ng-container *ngIf="(level2.children.length>0)">"We have a problem, this node is too far "{{level2.label}}"</ng-container> 
                      </div>                
                </ng-container> 
    
                <mat-expansion-panel *ngIf="(level1.children.length>0&&level1.label!='')" class="mat-elevation-z0" 
                    enabled (click)="(this.data.currentGroup=level1.label)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{level1.label}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div *ngFor="let level2 of level1.children">
                        <ng-container *ngIf="(level2.label=='skychart')">
                            <mat-card class="example-card">
                            <mat-card-subtitle>
                                <label [innerText]="level2.label"></label>
                            </mat-card-subtitle>
                            <mat-card-content>
                                <button mat-button (click)="loadcelestial()">Show skychart</button>
                                <div id="celestial-map"></div>
                            </mat-card-content>
                            </mat-card>       





                        </ng-container> 
                        <ng-container *ngIf="((level2.children.length==0)&&(level2.label!='skychart'))">
                            <app-prop [mod]="this.mod" [prop]="level2.label"></app-prop>
                        </ng-container> 
                        <ng-container *ngIf="(level2.children.length>0)">"We have a problem, this node is too far "{{level2.label}}"</ng-container> 
        
                      </div>                
                </mat-expansion-panel> 
                
            </div>
    






        </ng-container >
        <ng-container  *ngIf="(level0.label==this.data.currentDevcat)&&level0.label=='messages'">
                <div>
                <ng-container  *ngFor="let item of this.data.arr_messages_content">
                      <div>{{item.datetime}}-{{item.message}}</div>
                </ng-container>
                </div>
        </ng-container >
    </ng-container>
</ng-container>
