
<button mat-button [matMenuTriggerFor]="devcatMenu">
    <mat-icon>more_vert</mat-icon>
    {{this.data.currentDevcat}}
</button>


<mat-menu  #devcatMenu="matMenu">
    <button mat-menu-item color="accent" 
    *ngFor="let node of  this.data.rootmenu"
    (click)="(this.data.currentDevcat=node.label)">
    {{node.label}}
    </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="groupMenu">
    <mat-icon>more_vert</mat-icon>
    {{this.data.currentGroup}}
</button>

<mat-menu  #groupMenu="matMenu">
    <ng-container *ngFor="let nodedevcat of  this.data.rootmenu">
        <ng-container *ngIf="(nodedevcat.label==this.data.currentDevcat)">
            <button mat-menu-item color="accent" 
            *ngFor="let node of  nodedevcat.children"
            (click)="(this.data.currentGroup=node.label)">
            {{node.label}}
            </button>
        </ng-container>
    </ng-container>    
</mat-menu>


<div *ngFor="let prop of this.data.prps | keyvalue:originalOrderPrp">
    <div *ngIf="(prop.value.devcat==this.data.currentDevcat&&prop.value.group==this.data.currentGroup)">{{prop.value.label}}={{prop.value.value}}
        <p *ngFor="let elt of prop.value.elts | keyvalue:originalOrderElt"  >{{elt.value.label}}={{elt.value.value}}</p>
    </div>
</div>