.mat-footer-row,
.mat-header-row,
.mat-row {
    /*display: inline-flex;*/
    min-height: 30%;
    min-width: 100%;
    max-width: 100%;
}
/*app-prop,mat-expansion-panel,canvas{
    display: inline-flex;
    min-width: 40%;
    flex-flow: column wrap;    
}*/
#modimage {  
 background-image: url("../../assets/OST.png");  
} 
.mat-expansion-panel,.mat-expansion-panel-header{
    background-color: rgba(0, 0, 0, 0.50);
}
.container {
    padding: 2px;
}
