<ng-container *ngFor="let elt of data.elts | keyvalue:originalOrderElt">
    <button mat-raised-button color="accent" 
    (click)="(this.ws.setBool(mod,prop,elt.key))"
    *ngIf="(isBoolean(elt.value.value)&&(!elt.value.value))">
        {{elt.value.label}}
    </button>
    <button mat-raised-button color="warn"
    (click)="(this.ws.setBool(mod,prop,elt.key))"
    *ngIf="(isBoolean(elt.value.value)&&(elt.value.value))">
        {{elt.value.label}}
    </button>

</ng-container>
<ng-container  *ngIf="data.hasOwnProperty('URL')&&!(data.URL==null)&&!(data.URL=='')">
        <img  style="max-width:200px" src="http://{{this.ws.serverurl}}/{{data.URL}}">
</ng-container>


<ng-container  *ngIf="data.hasOwnProperty('value')&&!(data.value==null)">
    <ng-container  *ngIf="(isString(data.value))">
        {{data.label}}={{data.value}}
    </ng-container>
    <ng-container  *ngIf="(isNumber(data.value))">
        <label>{{data.label}}</label>
        <input matInput value={{data.value}}>
    </ng-container>
</ng-container>    

<table>
    <ng-container *ngFor="let elt of data.elts | keyvalue:originalOrderElt">
        <tr *ngIf="(isString(elt.value.value))">
            <td  style="min-width:150px"><label>{{elt.value.label}}</label></td>
            <td><input *ngIf="(!(data.permission==0))" matInput value={{elt.value.value}}></td>        
            <td><label *ngIf="(data.permission==0)">{{elt.value.value}}</label></td>
        </tr>    
    </ng-container> 
</table>

<table>
<ng-container *ngFor="let elt of data.elts | keyvalue:originalOrderElt">
    
    <tr *ngIf="(isNumber(elt.value.value))">
        <td style="min-width:150px"><label>{{elt.value.label}}</label></td>
        <td><input *ngIf="(!(data.permission==0))" matInput value={{elt.value.value}}></td>        
        <td><label *ngIf="(data.permission==0)">{{elt.value.value}}</label></td>
    </tr>    
    
</ng-container>
</table>