<ng-container *ngIf="!this.ws.isconnected" > 
  <div class="center">
    <br>
    <mat-spinner color="accent">
    </mat-spinner>
  </div>
  <div class="center">
    <button mat-raised-button>Fetching {{this.ws.serverurl}}</button>
  </div>
</ng-container>  
<ng-container *ngIf="this.ws.isconnected" > 



<div id ="bckgimage">

<ng-container > 
  <button mat-mini-fab color="accent"
  (click)="this.switchBob()">
    <mat-icon>star</mat-icon>
  </button>            
</ng-container>
<app-bobscorner *ngIf="this.bob"></app-bobscorner>


<ng-container *ngIf="!this.bob">
<ng-container *ngIf="this.containsModule(this.ws.datastore.currentMod)">

  
    <button
  mat-raised-button color="" [matMenuTriggerFor]="mainMenu" aria-label="Main menu">
    <mat-icon>
      more_vert
    </mat-icon>
    {{this.ws.datastore.mods[this.ws.datastore.currentMod].label}} 
  </button>


<mat-menu #mainMenu="matMenu" >
<ng-container *ngFor="let mm of this.ws.datastore.mods | keyvalue:originalOrderMod ">
      <button mat-menu-item (click)="(selectModule(mm.key))" 
      >
        <b            *ngIf="mm.key==this.ws.datastore.currentMod">{{mm.value.label}}</b>
        <ng-container *ngIf="mm.key!=this.ws.datastore.currentMod">{{mm.value.label}}</ng-container>
        <span
        matBadge="{{this.ws.datastore.mods[mm.key].arr_errors_content.length}}" 
        [matBadgeHidden]="this.ws.datastore.mods[mm.key].arr_errors_content.length===0" 
        matBadgePosition="above" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false"
        >
        </span>
      </button>
</ng-container>
</mat-menu>


<app-module-content 
[mod]='this.ws.datastore.currentMod'
[data]='this.ws.datastore.mods[this.ws.datastore.currentMod]'
[messagesSource]='this.ws.datastore.mods[this.ws.datastore.currentMod].messagesSource'
[datastore]='this.ws.datastore'
></app-module-content>

</ng-container>
</ng-container>
</div>

</ng-container > 
