<ng-container *ngIf="this.ws.datastore.mods.hasOwnProperty(this.ws.datastore.currentMod)">
  <button mat-mini-fab  mat-raised-button [matMenuTriggerFor]="mainMenu" aria-label="Main menu">
  <mat-icon>more_vert</mat-icon> 
  </button>
</ng-container>
<mat-menu #mainMenu="matMenu"  >
<button mat-menu-item   *ngFor="let mm of this.ws.datastore.mods | keyvalue:originalOrderMod " 
(click)="(this.ws.datastore.currentMod=mm.key)"  >
  {{mm.value.label}}  
</button>
</mat-menu>


<app-module-content 
[mod]='this.ws.datastore.currentMod'
[data]='this.ws.datastore.mods[this.ws.datastore.currentMod]'
></app-module-content>