<ng-container *ngIf="this.ws.datastore.mods.hasOwnProperty(this.ws.datastore.currentMod)">
  <button mat-raised-button color="" [matMenuTriggerFor]="mainMenu" aria-label="Main menu">
  <mat-icon>more_vert</mat-icon>{{this.ws.datastore.mods[this.ws.datastore.currentMod].label}} 
  </button>
</ng-container>


<mat-menu #mainMenu="matMenu"  >
<ng-container *ngFor="let mm of this.ws.datastore.mods | keyvalue:originalOrderMod ">
    <ng-container><button *ngIf="(mm.key==this.ws.datastore.currentMod)" mat-menu-item [ngStyle]="{'color' : 'orange'}" (click)="(this.ws.datastore.currentMod=mm.key)">{{mm.value.label}}</button></ng-container>  
    <button *ngIf="(mm.key!=this.ws.datastore.currentMod)" mat-menu-item (click)="(this.ws.datastore.currentMod=mm.key)">{{mm.value.label}}</button>  

</ng-container>
</mat-menu>


<app-module-content 
[mod]='this.ws.datastore.currentMod'
[data]='this.ws.datastore.mods[this.ws.datastore.currentMod]'
></app-module-content>