<mat-card class="example-card">
    <mat-card-subtitle>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==0" [innerText]="status0"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==1" [innerText]="status1"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==2" [innerText]="status2"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==3" [innerText]="status2"></label>
        {{this.ws.datastore.mods[mod].prps[prop].label}}
    </mat-card-subtitle>
    <mat-card-content>

        <!-- single prop value level -->
        <tr>
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('value')&&!(this.ws.datastore.mods[mod].prps[prop].value==null)"> 
            <td>
            <!-- writable value -->
            <ng-container *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0)); else readonly" >
                <ng-container  *ngIf="(isString(this.ws.datastore.mods[mod].prps[prop].value))">
                    
                    <!-- text with list of voalues -->
                    <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].hasLOV); else noLov0">
                        
                        <mat-select *ngIf="(this.ws.datastore.mods[mod].prps[prop].hasLOV)" 
                        value={{this.ws.datastore.mods[mod].prps[prop].value}}
                        (selectionChange)="this.onLovChange($event)">
                            <ng-container *ngFor="let val of this.ws.datastore.mods[mod].prps[prop].listOfValues | keyvalue:originalOrderLov">
                                <mat-option value="{{val.key}}">{{val.value}}</mat-option>
                            </ng-container> 
                        </mat-select>   
        
                    </ng-container>
                    
                    <!-- text without list of voalues -->
                    <ng-template #noLov0>
                        <input matInput value={{this.ws.datastore.mods[mod].prps[prop].value}} (focusout)="this.onKeyDown($event)">
                    </ng-template>            

                </ng-container>

                <ng-container  *ngIf="(isNumber(this.ws.datastore.mods[mod].prps[prop].value))">
                    <input matInput value={{this.ws.datastore.mods[mod].prps[prop].value}} (focusout)="this.onKeyDown($event)">
                </ng-container>

            </ng-container>

            <!-- readonly value -->
            <ng-template #readonly>
                {{this.ws.datastore.mods[mod].prps[prop].value}}
            </ng-template>
            </td>
        </ng-container>  

        <!-- buttons -->
        <td>
        <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt"> 
            <button mat-raised-button color="" 
            (click)="(this.ws.setBool(mod,prop,elt.key,true))"
            *ngIf="(isBoolean(elt.value.value)&&(!elt.value.value))">
                {{elt.value.label}}
            </button>
            <button mat-raised-button color="accent"
            (click)="(this.ws.setBool(mod,prop,elt.key,false))"
            *ngIf="(isBoolean(elt.value.value)&&(elt.value.value))">
                {{elt.value.label}}
            </button>
        </ng-container>
        </td>
        </tr>
        

         <!-- image -->
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('URL')&&!(this.ws.datastore.mods[mod].prps[prop].URL==null)&&!(this.ws.datastore.mods[mod].prps[prop].URL=='')">
            <img  (click)="(this.openDialog('http://'+this.ws.serverurl+'/'+this.ws.datastore.mods[mod].prps[prop].URL))" src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].URL}}">
        </ng-container>        
        
        <!-- video -->
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('video')&&!(this.ws.datastore.mods[mod].prps[prop].video==null)&&!(this.ws.datastore.mods[mod].prps[prop].video=='')">
            <video>
                <source src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].video}}" type="video/mp4" />
            </video>
        </ng-container>        
        
        <!-- string elements -->
        <table *ngIf="(this.ws.datastore.mods[mod].prps[prop].gridsize==-1)">
            <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
                <tr *ngIf="(isString(elt.value.value))">
                    <td ><label>{{elt.value.label}}</label></td>
                    <td>
                        <input *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0)&&!elt.value.hasLOV)" 
                        matInput value={{elt.value.value}} 
                        (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                        <input *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0)&&elt.value.hasLOV)" 
                        matInput value={{elt.value.getLov(elt.value.getValueString(elt.value.value))}}
                        (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                    </td>        
                    <td>
                        <label *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission==0)">
                            
                            <ng-container *ngIf="(elt.value.hasLOV); else noLov1">
                                {{elt.value.getLov(elt.value.getValueString(elt.value.value))}}
                            </ng-container>
                            <ng-template #noLov1>
                                {{elt.value.value}}
                            </ng-template>
        
                        </label></td>
                </tr>    
            </ng-container> 
        </table>
        
        <!-- number elements -->
        <table *ngIf="(this.ws.datastore.mods[mod].prps[prop].gridsize==-1)">
            <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
                <tr *ngIf="(isNumber(elt.value.value))">
                    <td><label>{{elt.value.label}}</label></td>
                    <td><input *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0))" 
                        matInput value="{{elt.value.valueN | number}}" 
                        (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)"></td>        
                    <td><label *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission==0)">{{elt.value.valueN | number}}</label></td>
                </tr>    
            </ng-container>
        </table>
        
        <!-- graphs -->
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].gridsize>=0">

            <ng-container  *ngIf="(this.ws.datastore.mods[mod].prps[prop].GDY.D!='')&&(this.ws.datastore.mods[mod].prps[prop].GDY.Y!='')">
                <canvas baseChart class="chartGDY"
                [data]="this.ws.datastore.mods[mod].prps[prop].GDY.data.data"
                [type]="this.ws.datastore.mods[mod].prps[prop].GDY.data.type"
                [options]="this.ws.datastore.mods[mod].prps[prop].GDY.data.options"
                >
                </canvas>            
            </ng-container>
            <ng-container  *ngIf="(this.ws.datastore.mods[mod].prps[prop].GXY.X!='')&&(this.ws.datastore.mods[mod].prps[prop].GXY.Y!='')">
                <canvas baseChart class="chartGXY"
                [data]="this.ws.datastore.mods[mod].prps[prop].GXY.data.data"
                [type]="this.ws.datastore.mods[mod].prps[prop].GXY.data.type"
                [options]="this.ws.datastore.mods[mod].prps[prop].GXY.data.options"
                >
                </canvas>            
            </ng-container>
            <ng-container  *ngIf="(this.ws.datastore.mods[mod].prps[prop].GPHD.D!='')&&(this.ws.datastore.mods[mod].prps[prop].GPHD.RA!='')">
                <canvas baseChart class="chartGPHD"
                [data]="this.ws.datastore.mods[mod].prps[prop].GPHD.data.data"
                [type]="this.ws.datastore.mods[mod].prps[prop].GPHD.data.type"
                [options]="this.ws.datastore.mods[mod].prps[prop].GPHD.data.options"
                >
                </canvas>            
            </ng-container>
    
        <!-- data table -->
            <table #mytable mat-table 
        *ngIf="((this.ws.datastore.mods[mod].prps[prop].GXY.X=='')&&(this.ws.datastore.mods[mod].prps[prop].GDY.D=='')&&(this.ws.datastore.mods[mod].prps[prop].GPHD.D==''))||(this.ws.datastore.mods[mod].prps[prop].permission>0)"
        [dataSource]="this.ws.datastore.mods[mod].prps[prop].grid2" class="mytable">
            
            <ng-container matColumnDef="edit" *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission>0)">
                <th mat-header-cell *matHeaderCellDef width ="200px">
                    <button mat-mini-fab color="" (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],'','add',-1)">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                        <mat-icon (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],element,'editline',i)">
                            edit
                        </mat-icon>
                        <mat-icon (click)="this.lineDel(this.ws.datastore.mods[mod].prps[prop],element,'del',i)">
                            delete
                        </mat-icon>
                        <mat-icon (click)="this.lineUp(this.ws.datastore.mods[mod].prps[prop],element,'up',i)">
                            arrow_drop_up
                        </mat-icon>
                        <mat-icon (click)="this.lineDown(this.ws.datastore.mods[mod].prps[prop],element,'down',i)">
                            arrow_drop_down
                        </mat-icon>
                </td>
            </ng-container>

            <ng-container *ngFor="let e of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt" [matColumnDef]="e.key">
              <th mat-header-cell *matHeaderCellDef width ="200px">
                {{e.value.label}}
              </th>
              <td mat-cell *matCellDef="let row; let i = index" (click)="this.clickRow(i)">

                <ng-container *ngIf="(isNumber(row[e.key])); else notANumber" >
                    {{row[e.key] | number}}
                </ng-container>
                <ng-template #notANumber>
                    <ng-container *ngIf="(e.value.hasLOV); else noLov">
                        {{e.value.listOfValues[row[e.key]]}}
                    </ng-container>
                    <ng-template #noLov>
                        {{row[e.key]}}
                       
                    </ng-template>
                </ng-template>
              </td>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef="this.ws.datastore.mods[mod].prps[prop].displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this.ws.datastore.mods[mod].prps[prop].displayedColumns;"></tr>
            </table>
                  


        
        </ng-container>  

        <!-- Sky chart -->
        <ng-container *ngIf="(prop=='skychart')">
            <button *ngIf="(!this.viewskychart)" mat-button (click)="showcelestial()">Show skychart</button>
            <button *ngIf="(this.viewskychart)"  mat-button (click)="hidecelestial()">Hide skychart</button>
            <button *ngIf="(this.viewskychart)"  mat-button (click)="loadcelestial()">Reload</button>
            <div [hidden]="!this.viewskychart" id="celestial-map"></div>
        </ng-container> 



    </mat-card-content>
</mat-card>