<mat-card class="example-card">
    <mat-card-subtitle>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==0" [innerText]="status0"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==1" [innerText]="status1"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==2" [innerText]="status2"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==3" [innerText]="status3"></label>
        {{this.ws.datastore.mods[mod].prps[prop].label}}
    </mat-card-subtitle>
    <mat-card-content>

        <!-- single prop value level -->

        <!-- buttons -->
        <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt"> 
            <button mat-raised-button color="" 
            (click)="(this.ws.setBool(mod,prop,elt.key,true))"
            *ngIf="(isBoolean(elt.value.value)&&(!elt.value.value))">
                {{elt.value.label}}
            </button>
            <button mat-raised-button color="accent"
            (click)="(this.ws.setBool(mod,prop,elt.key,false))"
            *ngIf="(isBoolean(elt.value.value)&&(elt.value.value))">
                {{elt.value.label}}
            </button>
        </ng-container>
        

 
  
        <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
            <ng-container *ngIf="(  ['string','int','float'].includes(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].type))">
                <tr>
                    <td>
                        <mat-label color="warn">
                            {{elt.value.label}}
                        </mat-label>
                    </td>
                     <!-- read only -->
                    <ng-container *ngIf="((this.ws.datastore.mods[mod].prps[prop].permission==0))">
                        <td>
                            <ng-container *ngIf="(!elt.value.hasLOV&&!elt.value.hasGlobalLOV); else lov1">
                            {{elt.value.value}}
                            </ng-container>
                            <ng-template #lov1 >
                                <ng-container *ngIf="(elt.value.hasGlobalLOV); else nogloblov">
                                    {{this.ws.datastore.mods[mod].lovs[elt.value.globallov].values[elt.value.getValueString(elt.value.value)]}}
                                </ng-container>
                                <ng-template #nogloblov >
                                    {{elt.value.getLov(elt.value.getValueString(elt.value.value))}}
                                </ng-template>
                            </ng-template>                        
                        </td>
                        <td></td>
                    </ng-container>

                    <!-- editable with form -->
                    <ng-container *ngIf="((this.ws.datastore.mods[mod].prps[prop].permission!=0)&&(!elt.value.directedit))">
                        <td>
                            <ng-container *ngIf="(!elt.value.hasLOV&&!elt.value.hasGlobalLOV); else lov1"
                            >
                            <label (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                                {{elt.value.value}}
                            </label>
                                
                            </ng-container>
                                <ng-template #lov1 >
                                    <ng-container *ngIf="(elt.value.hasGlobalLOV); else nogloblov">
                                        <label (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                                            {{this.ws.datastore.mods[mod].lovs[elt.value.globallov].values[elt.value.getValueString(elt.value.value)]}}
                                        </label>
                                    </ng-container>
                                    <ng-template #nogloblov >
                                        <label (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                                            {{elt.value.getLov(elt.value.getValueString(elt.value.value))}}
                                        </label>
                                    </ng-template>
                                
                                </ng-template>                        
                            </td>
                        <td><button mat-mini-fab *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0))"
                             color="accent" style="height:40px;" 
                            (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)">
                              <mat-icon>
                                edit
                              </mat-icon>
                            </button>                    
                        </td>                        
                    </ng-container>

                    <!-- directly editable -->
                    <ng-container *ngIf="((this.ws.datastore.mods[mod].prps[prop].permission!=0)&&(elt.value.directedit))">
                        <td >
                            <ng-container *ngIf="(!elt.value.hasLOV&&!elt.value.hasGlobalLOV); else lov1">
                                <input  matInput value={{elt.value.value}} (focusout)="this.onKeyDownElt($event,elt.key)">
                            </ng-container>
                            <ng-template #lov1 >
                                <ng-container *ngIf="(elt.value.hasGlobalLOV); else nogloblov">

                                    <mat-select value={{elt.value.value}}
                                    (selectionChange)="this.onLovChange($event,elt.key)">
                                        <ng-container *ngFor="let val of this.ws.datastore.mods[mod].lovs[elt.value.globallov].values| keyvalue:originalOrderLov" >
                                            <mat-option value="{{val.key}}">{{val.value}}</mat-option>
                                        </ng-container>
                                    </mat-select>   

                                </ng-container>
                                <ng-template #nogloblov >

                                    <mat-select value={{elt.value.value}}
                                    (selectionChange)="this.onLovChange($event,elt.key)">
                                        <ng-container *ngFor="let val of elt.value.listOfValues| keyvalue:originalOrderLov" >
                                            <mat-option value="{{val.key}}">{{val.value}}</mat-option>
                                        </ng-container>
                                    </mat-select>   

                                </ng-template>
                            </ng-template>                        
                        </td>
                        <td >
                        </td>
                    </ng-container>

                </tr>

            </ng-container>    
            <!-- graphs new version -->
            <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].type=='graph')">
                <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].graphtype=='XY')">
                    <app-graph-xy [mod]="this.mod" [prop]="this.prop" [elt]="elt.key"></app-graph-xy>
                </ng-container>
                <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].graphtype=='PHD')">
                    <app-graph-phd [mod]="this.mod" [prop]="this.prop" [elt]="elt.key"></app-graph-phd>
                </ng-container>
                <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].graphtype=='DY')">
                    <app-graph-dy [mod]="this.mod" [prop]="this.prop" [elt]="elt.key"></app-graph-dy>
                </ng-container>
            </ng-container>    
            <!-- lights new version -->
            <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].type=='light')">
                    <app-light [mod]="this.mod" [prop]="this.prop" [elt]="elt.key"></app-light>
            </ng-container>    
            <!-- images new version -->
            <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].type=='img')">
                <img  width="80%" (click)="(this.openDialog('http://'+this.ws.serverurl+'/'+this.ws.datastore.mods[mod].prps[prop].elts[elt.key].urljpeg))" 
                src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].elts[elt.key].urljpeg}}">
            </ng-container>  
            <!-- videos new version -->
            <ng-container *ngIf="(this.ws.datastore.mods[mod].prps[prop].elts[elt.key].type=='video')">
                <video width ="50%" controls>
                    <source src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].elts[elt.key].value}}" type="video/mp4" />
                </video>
            </ng-container>  
            
            


        </ng-container>    

        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasArray">
    
        <!-- data table -->
            <table #mytable mat-table 
        *ngIf="this.ws.datastore.mods[mod].prps[prop].showArray"
        [dataSource]="this.ws.datastore.mods[mod].prps[prop].grid2" class="mytable">
            
            <ng-container matColumnDef="edit" *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission>0)">
                <th mat-header-cell *matHeaderCellDef width ="200px">
                    <button mat-mini-fab color="" (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],'','add',-1)">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                        <mat-icon (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],element,'editline',i)">
                            edit
                        </mat-icon>
                        <mat-icon (click)="this.lineDel(this.ws.datastore.mods[mod].prps[prop],element,'del',i)">
                            delete
                        </mat-icon>
                        <mat-icon (click)="this.lineUp(this.ws.datastore.mods[mod].prps[prop],element,'up',i)">
                            arrow_drop_up
                        </mat-icon>
                        <mat-icon (click)="this.lineDown(this.ws.datastore.mods[mod].prps[prop],element,'down',i)">
                            arrow_drop_down
                        </mat-icon>
                </td>
            </ng-container>

            <ng-container *ngFor="let e of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt" [matColumnDef]="e.key">
              <th mat-header-cell *matHeaderCellDef width ="200px">
                {{e.value.label}}
              </th>
              <td mat-cell *matCellDef="let row; let i = index" (click)="this.clickRow(i)">

                <ng-container *ngIf="(isNumber(row[e.key])); else notANumber" >
                    <ng-container *ngIf="(e.value.hasLOV); else noLov0">
                        {{e.value.listOfValues[row[e.key]]}}
                    </ng-container>
                    <ng-template #noLov0>
                        {{row[e.key] | number}}
                    </ng-template>
                </ng-container>
                <ng-template #notANumber>
                    <ng-container *ngIf="(e.value.hasLOV); else noLov">
                        {{e.value.listOfValues[row[e.key]]}}
                    </ng-container>
                    <ng-template #noLov>
                        {{row[e.key]}}
                       
                    </ng-template>
                </ng-template>
              </td>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef="this.ws.datastore.mods[mod].prps[prop].displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this.ws.datastore.mods[mod].prps[prop].displayedColumns;"></tr>
            </table>
                  


        
        </ng-container>  

        <!-- Sky chart -->
        <ng-container *ngIf="(prop=='skychart')">
            <button *ngIf="(!this.viewskychart)" mat-button (click)="showcelestial()">Show skychart</button>
            <button *ngIf="(this.viewskychart)"  mat-button (click)="hidecelestial()">Hide skychart</button>
            <button *ngIf="(this.viewskychart)"  mat-button (click)="loadcelestial()">Reload</button>
            <div [hidden]="!this.viewskychart" id="celestial-map"></div>
        </ng-container> 



    </mat-card-content>
</mat-card>