<mat-card class="example-card">
    <mat-card-subtitle>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==0" [innerText]="status0"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==1" [innerText]="status1"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==2" [innerText]="status2"></label>
        <label *ngIf="this.ws.datastore.mods[mod].prps[prop].status==3" [innerText]="status2"></label>
        {{this.ws.datastore.mods[mod].prps[prop].label}}
    </mat-card-subtitle>
    <mat-card-content>

        <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
            <button mat-raised-button color="" 
            (click)="(this.ws.setBool(mod,prop,elt.key,true))"
            *ngIf="(isBoolean(elt.value.value)&&(!elt.value.value))">
                {{elt.value.label}}
            </button>
            <button mat-raised-button color="accent"
            (click)="(this.ws.setBool(mod,prop,elt.key,false))"
            *ngIf="(isBoolean(elt.value.value)&&(elt.value.value))">
                {{elt.value.label}}
            </button>
        </ng-container>

        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('value')&&!(this.ws.datastore.mods[mod].prps[prop].value==null)">
            <ng-container  *ngIf="(isString(this.ws.datastore.mods[mod].prps[prop].value))">
                <div [innerHTML]="this.ws.datastore.mods[mod].prps[prop].value"></div>
            </ng-container>
            <ng-container  *ngIf="(isNumber(this.ws.datastore.mods[mod].prps[prop].value))">
                <label>{{this.ws.datastore.mods[mod].prps[prop].label}}</label>
                <input matInput value={{this.ws.datastore.mods[mod].prps[prop].value}}>
            </ng-container>
        </ng-container>  


        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('URL')&&!(this.ws.datastore.mods[mod].prps[prop].URL==null)&&!(this.ws.datastore.mods[mod].prps[prop].URL=='')">
            <img  style="max-width:50%" (click)="(this.openDialog('http://'+this.ws.serverurl+'/'+this.ws.datastore.mods[mod].prps[prop].URL))" src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].URL}}">
        </ng-container>        
        
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].hasOwnProperty('video')&&!(this.ws.datastore.mods[mod].prps[prop].video==null)&&!(this.ws.datastore.mods[mod].prps[prop].video=='')">
            <video controls style="max-width:50%">
                <source src="http://{{this.ws.serverurl}}/{{this.ws.datastore.mods[mod].prps[prop].video}}" type="video/mp4" />
            </video>
        </ng-container>        
        
        <table *ngIf="(this.ws.datastore.mods[mod].prps[prop].grid2.length==0)">
            <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
                <tr *ngIf="(isString(elt.value.value))">
                    <td  style="min-width:150px"><label>{{elt.value.label}}</label></td>
                    <td><input *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0))" matInput value={{elt.value.value}} (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)"></td>        
                    <td><label *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission==0)">{{elt.value.value}}</label></td>
                </tr>    
            </ng-container> 
        </table>
        
        <table *ngIf="(this.ws.datastore.mods[mod].prps[prop].grid2.length==0)">
            <ng-container *ngFor="let elt of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt">
                <tr *ngIf="(isNumber(elt.value.value))">
                    <td style="min-width:150px"><label>{{elt.value.label}}</label></td>
                    <td><input *ngIf="(!(this.ws.datastore.mods[mod].prps[prop].permission==0))" matInput value="{{elt.value.valueN | number}}" (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],elt.key,'editprop',-1)"></td>        
                    <td><label *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission==0)">{{elt.value.valueN | number}}</label></td>
                </tr>    
            </ng-container>
        </table>
        
        <ng-container  *ngIf="this.ws.datastore.mods[mod].prps[prop].grid2.length>0">

        <table #mytable mat-table [dataSource]="this.ws.datastore.mods[mod].prps[prop].grid2" class="mat-elevation-z8 demo-table">
            
            <ng-container matColumnDef="edit" *ngIf="(this.ws.datastore.mods[mod].prps[prop].permission>0)">
                <th mat-header-cell *matHeaderCellDef width ="200px">
                    <button mat-mini-fab color="" (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],'','add',-1)">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                        <mat-icon (click)="this.openEditProp(this.ws.datastore.mods[mod].prps[prop],element,'editline',i)">
                            edit
                        </mat-icon>
                        <mat-icon (click)="this.lineDel(this.ws.datastore.mods[mod].prps[prop],element,'del',i)">
                            delete
                        </mat-icon>
                        <mat-icon (click)="this.lineUp(this.ws.datastore.mods[mod].prps[prop],element,'up',i)">
                            arrow_drop_up
                        </mat-icon>
                        <mat-icon (click)="this.lineDown(this.ws.datastore.mods[mod].prps[prop],element,'down',i)">
                            arrow_drop_down
                        </mat-icon>
                </td>
            </ng-container>

            <ng-container *ngFor="let e of this.ws.datastore.mods[mod].prps[prop].elts | keyvalue:originalOrderElt" [matColumnDef]="e.key">
              <th mat-header-cell *matHeaderCellDef width ="200px">
                {{e.value.label}}
              </th>
              <td mat-cell *matCellDef="let row">

                <ng-container *ngIf="(isNumber(row[e.key])); else notANumber" >
                    {{row[e.key] | number}}
                </ng-container>
                <ng-template #notANumber>
                    {{row[e.key]}}
                </ng-template>
              </td>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef="this.ws.datastore.mods[mod].prps[prop].displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this.ws.datastore.mods[mod].prps[prop].displayedColumns;"></tr>
        </table>
                  


        
        </ng-container>  
        <ng-container  *ngIf="(this.ws.datastore.mods[mod].prps[prop].GDY.D!='')&&(this.ws.datastore.mods[mod].prps[prop].GDY.Y!='')">
            <canvas baseChart class="chart"
            [data]="this.ws.datastore.mods[mod].prps[prop].GDY.data.data"
            [type]="this.ws.datastore.mods[mod].prps[prop].GDY.data.type"
            [options]="this.ws.datastore.mods[mod].prps[prop].GDY.data.options"
            >

          </canvas>            
        </ng-container>





    </mat-card-content>
</mat-card>
<hr style="height:0px; visibility:hidden;" />