<button mat-mini-fab color="accent">
  <mat-icon>home</mat-icon>
</button>            

<button mat-mini-fab color="accent"
(click)="drawerfocus.toggle()">
  <mat-icon>center_focus_strong</mat-icon>
</button>    

<button mat-mini-fab color="accent">
<mat-icon>camera</mat-icon>
</button>            

<button mat-mini-fab color="accent">
  <mat-icon>collections</mat-icon>
</button>            

<button mat-mini-fab color="accent">
  <mat-icon>my_location</mat-icon>
</button>            






<mat-sidenav-container>
    <mat-sidenav-content closed>
    </mat-sidenav-content>
    <mat-sidenav #drawerfocus mode="over" fixedInViewport="true">
        <app-graph-xy [mod]="'bobsfocus'" [prop]="'values'" [elt]="'graph'"></app-graph-xy>
    </mat-sidenav>
</mat-sidenav-container>

