<span>{{this.data.prop.label}}</span>
<table *ngIf="(!(this.data.prop.permission==0))">
    <ng-container *ngFor="let elt of this.data.prop.elts | keyvalue:originalOrderElt">
        <tr *ngIf="(['string','int','float'].includes(this.data.prop.elts[elt.key].type))">
            <td style="min-width:50px"><label>{{elt.value.label}}</label></td>
            <td>
                <input *ngIf="(!elt.value.hasLOV)&&(!elt.value.hasGlobalLOV)" matInput [(ngModel)]="this.tempselts[elt.key]" [value]="this.tempselts[elt.key]">  

                <mat-select *ngIf="(elt.value.hasLOV)" 
                    [(ngModel)]="this.tempselts[elt.key]"                     
                    [compareWith]="compareIds"
                    >
                    <mat-option *ngFor="let val of elt.value.listOfValues | keyvalue:originalOrderLov" [value]="val.key">
                        {{val.value}} ({{val.key}})
                    </mat-option>
                </mat-select>   
                <mat-select *ngIf="(elt.value.hasGlobalLOV)" 
                    [(ngModel)]="this.tempselts[elt.key]"                     
                    [compareWith]="compareIds"
                    >
                    <mat-option *ngFor="let val of this.ws.datastore.mods[this.data.mod].lovs[elt.value.globallov].values| keyvalue:originalOrderLov" [value]="val.key">
                        {{val.value}} ({{val.key}})
                    </mat-option>
                </mat-select>   
            </td>
        </tr>
    </ng-container>
</table>
<button mat-button (click)="this.onSet()">Set</button>  
<button mat-button (click)="this.onCancel()">Cancel</button>  
